*
!nano_serial*
!nano_serial/*.*
!*.*
nano_serial/.idea*
nano_serial/nano_serial*

!nano_parsing*
!nano_parsing/*
!nano_parsing/*.*
nano_parsing/.idea*
nano_parsing/venv

!just_serial/
!just_serial/*.*
!just_serial/*.txt

!skeleton*
!skeleton/*
!skeleton/*.*



